* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 130px;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
    color: #575757;
}
button{
       background-color: #1D4ED8;
       color: #FFFFFF;
       border: none;
       padding: 15px 40px; 
       border-radius: 12px;
       cursor: pointer;
       font-size: 16px;
       font-weight: bold;
}
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/banner.jpg');
    background-size: cover;
    height: 1000px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 150px;
    text-align: center;
}
.hero-heading{
    font-size: 100px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.hero-text{
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
}
.hero-button{
    padding: 30px 80px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 400px;
}